<div class="transaction-item p-2 mx-1">

  <ng-container *ngIf="transaction.isSend()">
    <div class="item-details pt-2">
      <div class="amount negative">
        {{ transaction.amount_sbd | number }}
      </div>

      <div class="timestamp text-muted">{{ transaction.dateCreated() }} to
        <img title="@{{ transaction.counterparty }}"
             src="https://steemitimages.com/u/{{ transaction.counterparty }}/avatar"
             class="rounded-circle">
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="transaction.isReceived()">
    <div class="item-details positive-details">
      <div class="amount positive">
        +{{ transaction.amount_sbd | number }}
      </div>

      <div class="timestamp text-muted">{{ transaction.dateCreated() }}</div>
    </div>


    <div>
      <img title="@{{ transaction.counterparty }}"
           src="https://steemitimages.com/u/{{ transaction.counterparty }}/avatar"
           class="rounded-circle">

      <div class="comment arrow_box ml-1">
        <span>{{ transaction.comment }}</span>
      </div>
    </div>
  </ng-container>

</div>
